header {
  background-color: #8a3131a4;
  padding: 20px;
}

.img1 {
  height: 125px;
  width: 125px;
  border-radius: 70px;

}

.box {
  width: 1100px;
  position: relative;
  margin: 0 auto;
  text-align: right;
}

nav {
  position: relative;
  top: -60px;
  right: 100px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #fcf1e1;
  text-decoration: none;
  font-weight: chewy;
  font-size: 22px;

}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:active {
  color: brown;
}

body {
  font-family: sans-serif;
  background-color: #ffffff; 
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
}
@media screen and (max-width: 600px) {
  .menu li {
      float: none;
      display: none;
  }
  .menu li.icon {
      float: right;
      display: block;
  }
  .menu.responsive {
      position: relative;
  }
  .menu.responsive li {
      display: block; 
      float: none;
  }
}
.inicio{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow:;

}

.centro{
  text-align: center;
}

 


 h1 {
  color: #422100; 
  font-size: 3em;
  text-align: center;
}

 h2 {
  color: #422201; 
  font-size: 1.5em;
  text-align: center;
}
h3{
  text-align: center;


}


main {
  padding: 20px;
}




  

ul li {
  
  color: #290c03;
  position: relative;
  list-style-type: none;
  }

li ul {
  position: absolute;
  left: 149px;
  top: 0;
  display: none;
  }

* html ul li { float: left; }
* html ul li a { height: 1%; }

li:hover ul { display: block; }

.itens{
  line-height: 1.6;
}

.itens::before{
  font-size: 1.8em;
  padding: 13px;
  content: url(/img/pata.png);

}
.imagemsobre{
  width:50%;
  height:200px ;
 margin: 0 0 0 230px;
  border-radius: 29px;
}

.imagemvoluntario{
  width:50%;
  height:200px ;
 margin: 0 0 0 230px;
  border-radius: 29px;
}



.voluntários{
  font-style: italic;
}


.img{
  border-radius: 12px;
  width: 50%;
  margin: 0 0 0 230px;
  padding: 23px;

  height: auto;
}



.serviços {
  width: 200px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

  



.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}


 
.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.floating-btn img{
  padding: 6px;
  margin: 3 px;


  
}
.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;

  border-radius: 50%;
  background-color: #460e0a;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: '';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: #d6b9b7;
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}


.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}
.circular-menucircular-menu-leftactive img{
  padding: 6px;
  margin: 3 px;

}

.circular-menu.circular-menu-left .floating-btn {
  background-color: #7a6448;
}

.circular-menu.circular-menu-left:after {
  background-color: #bdb39a;
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}



.col {
  color: #fcf1e1;
}

footer {
  text-align: center;
  display: inline-block;
  background-color: #8a3131a4;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 480px){

  .img1, .box{
    width: auto;
  }
  h1{
    text-align: center;
  }

  nav{
    position: static;
  
}

.sobre, .voluntario{
  width: auto;
  

}



 
}
  


 
 


